<p>основная таблица приложения</p>
<hr />
<p>видим общую сумму бюджета, смотрим сколько потрачено, сколько осталось</p>
<p>в планах интересный вывод сколько осталось:</p>
<p>
  1) проценты, полоса прогресса, можно ей дать цветовое оформление в зависимости
  от прогресса
</p>
<p>
  2) также, возможно, какие-то эмоции и смайлы для отображения сколько осталось
  и тд
</p>
<hr />
<p>еще здесь будет добавление расходов</p>
<p>
  как-то сделать пагинацию самых свежих операций, модальное окошко для оформлени
  операции, может еще что-то
</p>
