<header>
  <nav>
    <div class="header_logo">
      <img src="../../assets/coin.svg" alt="logo" />
    </div>
    <div class="header_links">
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a [routerLink]="['auth', 'register']" routerLinkActive="active"
        >Register</a
      >
      <a [routerLink]="['auth', 'login']" routerLinkActive="active">Login</a>
      <a routerLink="family" routerLinkActive="active">Account</a>
      <a routerLink="table" routerLinkActive="active">Table</a>
      <a routerLink="progress" routerLinkActive="active">Progress</a>
      <a routerLink="statistic" routerLinkActive="active">Statistic</a>
    </div>
  </nav>
</header>
