<div class="dashboard">
  <form [formGroup]="postsForm" (ngSubmit)="onSubmit()" class="dashboard_form">
    <label for="text">Text:</label>
    <input
      formControlName="text"
      #textInput
      type="text"
      name="text"
      id="text"
    />
    <button [disabled]="!postsForm.valid" type="submit">Submit</button>
  </form>
</div>
<hr />
<hr />
<div *ngIf="posts.length > 0; else elseBlock" class="dashboard_posts">
  <app-post-item *ngFor="let post of posts" [post]="post"></app-post-item>
</div>

<ng-template #elseBlock>
  <p>no posts!</p>
</ng-template>
