<main>
  <div class="register">
    <h1>Wellcome to Coin Tracker!</h1>
    <form class="register_form">
      <div class="register_form_block">
        <label for="familyName">Account (family) name</label>
        <input
          id="familyName"
          name="familyName"
          type="text"
          placeholder="Enter your account name"
        />
      </div>

      <div class="register_form_block">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Enter your email" />
      </div>

      <div class="register_form_block">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          placeholder="Enter your password"
        />
      </div>

      <div class="register_form_block">
        <button type="submit">Sign up</button>
      </div>
    </form>
  </div>
</main>

<!-- "familyName": "Andrusha, Olusha, Kirusha",
  "email": "test@gmail.com",
  "password": "123456" -->
