.todo_form {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .todo_form_input {
      border: none;
      outline: none;
      background-color: transparent;
      text-align: center;
      padding: 5px 10px;
      font-size: 20px;
      color: var(--font);
      resize: none;
      width: 300px;

      &::placeholder {
        font-size: 20px;
      }
    }

    .todo_form_btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: var(--secondary);
      margin-top: 30px;
      font-size: 16px;
      color: var(--font);

      span {
        margin-left: 10px;
      }
    }
  }
}
