<div class="todo">
  <app-add (click)="openModal()" [text]="'Add todo'"></app-add>
  <app-modal *ngIf="isModalVisible" (handleChange)="closeModal()">
    <app-add-todo-modal
      [todoForm]="todoForm"
      (submitForm)="onSubmit()"
    ></app-add-todo-modal>
  </app-modal>

  <div *ngIf="!isTodosFetching && todos.length > 0" class="todo_list">
    <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>
  </div>
</div>

<div *ngIf="!isTodosFetching && todos.length === 0">YOU HAVE NO TODOS!</div>

<app-spinner *ngIf="isTodosFetching"></app-spinner>
