:host {
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .dashboard_posts {
    display: flex;
    flex-direction: column;
    width: 660px;
    margin-top: 20px;
    max-height: 700px;
    overflow-y: auto;
    padding: 10px;
  }
}
