<div class="dashboard">
  <app-add (click)="openModal()" [text]="'Add post'"></app-add>
  <app-modal *ngIf="isModalVisible" (handleChange)="closeModal()">
    <form
      [formGroup]="postsForm"
      (ngSubmit)="onSubmit()"
      class="dashboard_form"
    >
      <label for="text">Text:</label>
      <input
        formControlName="text"
        #textInput
        type="text"
        name="text"
        id="text"
      />
      <button [disabled]="!postsForm.valid" type="submit">Submit</button>
    </form>
  </app-modal>

  <div *ngIf="posts.length > 0 && !isFetching" class="dashboard_posts">
    <app-post-item *ngFor="let post of posts" [post]="post"></app-post-item>
  </div>

  <p *ngIf="posts.length === 0 && !isFetching">no posts!</p>

  <app-spinner *ngIf="isFetching"></app-spinner>
</div>
