<main>
  <div class="login">
    <h1>Login to your account</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login_form">
      <div class="login_form_block">
        <label for="emain">Email</label>
        <input formControlName="email" id="email" type="email" />
      </div>
      <div class="login_form_block">
        <button
          (click)="passwordVisibilityToggler()"
          class="login_form_block_eye"
          type="button"
        >
          <img
            [src]="
              isPasswordVisible
                ? '../../../assets/visibility-off.svg'
                : '../../../assets/visibility-on.svg'
            "
            alt="pass-visible"
          />
        </button>
        <label for="password">Password</label>
        <input
          formControlName="password"
          id="password"
          [type]="!isPasswordVisible ? 'password' : 'text'"
        />
      </div>
      <div class="login_form_block">
        <button type="submit">Sing In</button>
      </div>
    </form>
  </div>
</main>
