<header class="header">
  <nav>
    <div class="header_logo">
      <img src="../../../../../assets/coin.svg" alt="logo" />
    </div>
    <div class="header_links">
      <button *ngIf="!isDarkTheme" (click)="setDarkTheme()">
        <img src="../../../../../assets/moon.svg" alt="dark_theme">
      </button>
      <button *ngIf="isDarkTheme" (click)="setLightTheme()">
        <img src="../../../../../assets/sun.svg" alt="light_theme">
      </button>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a
        appPublicRoute
        [routerLink]="['auth', 'register']"
        routerLinkActive="active"
        >Register</a
      >
      <a
        appPublicRoute
        [routerLink]="['auth', 'login']"
        routerLinkActive="active"
        >Login</a
      >
      <a appPrivateRoute routerLink="family" routerLinkActive="active"
        >Account</a
      >
      <a appPrivateRoute routerLink="table" routerLinkActive="active">Table</a>
      <a appPrivateRoute routerLink="plans" routerLinkActive="active">Plans</a>
      <a appPrivateRoute routerLink="dashboard" routerLinkActive="active"
        >Dashboard</a
      >
      <a appPrivateRoute routerLink="statistic" routerLinkActive="active"
        >Statistic</a
      >
      <button appPrivateRoute (click)="logoutHandler()">Logout</button>
    </div>
  </nav>
</header>
