.family_img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);

  img {
    width: 70%;
    height: 70%;
  }
}
