<p>страница редактирования семейного аккаунта</p>
<p>смотрим, редактируем, добавляем и удаляем членов семьи</p>
<p>выбираем каким членом семьи будет пользователь и сохраняем в localstorage</p>
<p>выбираем язык</p>
<p>выбираем цветовую тему</p>
<hr />
<hr />
<h1>Wellcome {{ family.familyName }}</h1>

<div class="family">
  <div class="account_form_changePerson">
    <form
      *ngIf="family.persons.length > 0; else elseBlock"
      [formGroup]="changePersonForm"
      (ngSubmit)="onSubmitChangePersonHandler()"
    >
      <label for="changePerson">Change person</label>
      <select
        formControlName="changePerson"
        name="changePerson"
        id="changePerson"
      >
        <option value="default">Choose who are you</option>
        <option *ngFor="let person of family.persons" [value]="person.name">
          {{ person.name }}
        </option>
      </select>
      <button
        [disabled]="changePersonForm.value.changePerson === 'default'"
        type="submit"
      >
        Change person
      </button>
      <button type="button" (click)="deletePersonHandler()">
        Delete person
      </button>
    </form>
    <ng-template #elseBlock>
      <p>Please, add person to your family!</p>
    </ng-template>
  </div>

  <div class="account_form_addPerson">
    <form [formGroup]="addPersonForm" (ngSubmit)="onSubmitAddPersonHandler()">
      <label for="addPerson">Add person</label>
      <input
        formControlName="addPerson"
        type="text"
        name="addPerson"
        id="addPerson"
      />
      <button type="submit">Add person</button>
    </form>
  </div>
</div>
