<p>основная таблица приложения</p>
<hr />
<p>видим общую сумму бюджета, смотрим сколько потрачено, сколько осталось</p>
<p>в планах интересный вывод сколько осталось:</p>
<p>
  1) проценты, полоса прогресса, можно ей дать цветовое оформление в зависимости
  от прогресса
</p>
<p>
  2) также, возможно, какие-то эмоции и смайлы для отображения сколько осталось
  и тд
</p>
<hr />
<p>еще здесь будет добавление расходов</p>
<p>
  как-то сделать пагинацию самых свежих операций, модальное окошко для
  оформления операции, может еще что-то
</p>
<hr />
<p>
  есть какой-то баг: записываешь число, а после редактирования последней цифры
  что-то не так. PS похоже, баг именно в числовых рассчетах
</p>
<hr />
<h1>TODO:</h1>
<p>получаем список бюджетов, выбираем их</p>
<p>НУЖНО БУДЕТ ДОБАВИТЬ ПОЛЯ ЗАГРУЗКИ В КАЖДЫЙ ИЗ ЧАСТЕЙ РЕДАКСА!!!</p>
<p>
  а еще добавить тут и на сервере создание
  <strong> именованных бюджетов! </strong>
</p>
<hr />
<hr />

<main>
  <div class="table_budget">
    <form
      *ngIf="budgets && budgets.length > 0; else elseBlock"
      [formGroup]="changeBudgetForm"
      (ngSubmit)="handleBudgetSubmit()"
    >
      <label for="changeBudget">Choose budget</label>
      <select
        formControlName="changeBudget"
        name="changeBudget"
        id="changeBudget"
      >
        <option value="default">Choose one of your budgets!</option>
        <option *ngFor="let budget of budgets" [value]="budget.id">
          {{ budget.name }}
        </option>
      </select>
      <button
        [disabled]="changeBudgetForm.value.changeBudget === 'default'"
        type="submit"
      >
        Choose budget
      </button>
    </form>
    <ng-template #elseBlock>
      <p>You haven't budgets yet!</p>
    </ng-template>
    <div class="table_create_budget">
      <p>Create a budget form</p>
      <form [formGroup]="newBudgetForm" (ngSubmit)="handleCreateBudgetSubmit()">
        <label for="newBudgetName">Budget's name</label>
        <input
          formControlName="newBudgetName"
          type="text"
          name="newBudgetName"
          id="newBudgetName"
        />
        <label for="newBudgetSumm">Budget's summ</label>
        <input
          formControlName="newBudgetSumm"
          type="number"
          name="newBudgetSumm"
          id="newBudgetSumm"
        />
        <button type="submit">Create new budget</button>
      </form>
    </div>
  </div>

  <div class="table_header">
    <p>Total: {{ total }}</p>
    <p>Spend: {{ spend }}</p>
    <p>Left: {{ left }}</p>
  </div>

  <div class="table_form">
    <form [formGroup]="transactionsForm" (ngSubmit)="onSubmit()">
      <label for="summ">Сумма</label>
      <input
        #inputRef
        formControlName="money"
        type="number"
        name="summ"
        id="summ"
      />
      <button
        [disabled]="transactionsForm.value.money <= 0 || !person"
        type="submit"
      >
        Отправить
      </button>
      <p *ngIf="!person">Choose who are you.</p>
    </form>
  </div>

  <div *ngIf="transactions.length > 0" class="table_display">
    <p class="table_display_paragraph" *ngFor="let transaction of transactions">
      <span>{{ transaction.person }}</span>
      <span> --> </span>
      <span>{{ transaction.money }}</span>
      <span> at </span>
      <span>{{ transaction.date | date:'dd MMM yyyy, ccc, HH:mm' }}</span>
    </p>
  </div>
</main>
