<hr />
<p>
  1) закрытие бюджета (после закрытия должен уходить в историю, т.е. в
  статистику)
</p>
<hr />

<div class="table" *ngIf="!isFetching; else elseSpinner">
  <div class="table_budget">
    <form
      *ngIf="budgets && budgets.length > 0; else elseBlock"
      [formGroup]="changeBudgetForm"
      (ngSubmit)="handleBudgetSubmit()"
    >
      <label for="changeBudget">Choose budget</label>
      <select
        formControlName="changeBudget"
        name="changeBudget"
        id="changeBudget"
      >
        <option value="default">Choose one of your budgets!</option>
        <option *ngFor="let budget of budgets" [value]="budget.id">
          {{ budget.name }}
        </option>
      </select>
      <button
        [disabled]="changeBudgetForm.value.changeBudget === 'default'"
        type="submit"
      >
        Choose budget
      </button>
    </form>
    <ng-template #elseBlock>
      <p>You haven't budgets yet!</p>
    </ng-template>
    <div class="table_create_budget">
      <p>Create a budget form</p>
      <form [formGroup]="newBudgetForm" (ngSubmit)="handleCreateBudgetSubmit()">
        <label for="newBudgetName">Budget's name</label>
        <input
          formControlName="newBudgetName"
          type="text"
          name="newBudgetName"
          id="newBudgetName"
        />
        <label for="newBudgetSumm">Budget's summ</label>
        <input
          formControlName="newBudgetSumm"
          type="number"
          name="newBudgetSumm"
          id="newBudgetSumm"
        />
        <button type="submit">Create new budget</button>
      </form>
    </div>
  </div>

  <div class="table_header">
    <p>Total: {{ total }}</p>
    <p>Spend: {{ spend }}</p>
    <p>Left: {{ left }}</p>
  </div>

  <div class="table_form">
    <form [formGroup]="transactionsForm" (ngSubmit)="onSubmit()">
      <label for="summ">Сумма</label>
      <input
        #inputMoneyRef
        formControlName="money"
        type="number"
        name="summ"
        id="summ"
      />
      <label for="purchase">На что потрачено</label>
      <input
        #inputPurchaseRef
        formControlName="purchase"
        type="text"
        name="purchase"
        id="purchase"
      />
      <button
        [disabled]="transactionsForm.value.money <= 0 || !person"
        type="submit"
      >
        Отправить
      </button>
      <p *ngIf="!person">Choose who are you.</p>
    </form>
  </div>

  <div *ngIf="transactions.length > 0" class="table_display">
    <p class="table_display_paragraph" *ngFor="let transaction of transactions">
      <span>{{ transaction.person }}</span>
      <span> ({{ transaction.purchase }}) </span>
      <span> --> </span>
      <span>{{ transaction.money }} UAH</span>
      <span> at </span>
      <span>{{ transaction.date | date: "dd MMM yyyy, ccc, HH:mm" }}</span>
    </p>
  </div>
</div>

<ng-template #elseSpinner>
  <app-spinner></app-spinner>
</ng-template>
