@import "~ng-snotify/styles/material";
// Add dark theme for notifications
// @import "~ng-snotify/styles/dark";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content_non_highlight {
  user-select: none;
}
